{% include 'common/_header.html.twig' %}

<main>

    <div id="blocArticles">



        <ul>

            {% for key, articles in article %}
                {% if articles.published %}
            <li>
                <img src="{{ articles.image }}" alt="{{ articles.title }}">

                <p><strong><a href="{{ path('articles',{'id': key}) }}">{{ articles.title | upper }}</a></strong></p>

                <p>{{ articles.content }}</p>
            </li>
                {% endif %}
            {% endfor %}

        </ul>




    </div>

</main>

{% include 'common/_footer.html.twig' %}